p.speech{
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 1em;
    color: #000000;
}

p.direction{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #000000;
    background-color: #FF842D;
}

p.direction:hover{
    background-color: #FFBD2D;
}

.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
h5.nora{
    color: #301934;
}

h5.porter{
    color: 	#5C4033;
}

h5.helmer{
    color: #E45780;
}

table{
    border: solid 3px #242323;
    width: 80%;
}

th, td{
    border: 1px solid #2d2d2d;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}